extends layout

block append head
	script(src='scripts/viewer.js')

block content
	p #{book.title}:#{book.volume}:#{book.page}&nbsp;&nbsp;&nbsp<a id="btnNextVolumn" href="#">Next Vol</a>
	
	input(id="hidTitle" type="hidden" value="#{book.title}")/
	input(id="hidVolume" type="hidden" value="#{book.volume}")/
	input(id="hidPage" type="hidden" value="#{book.page}")/
	
	#navigator
		a(id="btnFirstPage" href="#") First&nbsp;&nbsp;&nbsp;
		a(id="btnPrevPage" href="#") Prev&nbsp;&nbsp;&nbsp;
		a(id="btnNextPage" href="#") Next&nbsp;&nbsp;&nbsp;Page no:
		input(id="txtPage" type="text" style="width:40px;")/
		input(id="btnGoPage" type="button" onclick="goPage();" value="Go")/ 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show two pages:
		
		if chkShowTwoPages
			input(id="chkShowTwoPages" type="checkbox" checked)/
		else
			input(id="chkShowTwoPages" type="checkbox")/
	
	#leftMenu(style="float:left") Library
		ul(id="library")
	#mainContent(style="float:left")
		table(id="imgMain")
			tr
				td main